# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# C extensions
*.so
#idea
.idea/

# Distribution / packaging
.Python
env/
venv/

# Translations
*.mo
*.pot


#KDE
.directory


# PyBuilder
target/

# Video file for testing
tests/Dad.mpg

# DEB packages
*.deb
build_deb.sh
videomorph_0.7xenial_all/

# .ui files
*.ui
